<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat System OOP</title>
    <link rel="stylesheet" href="chat.css">
</head>
<body>

<h2>Simple Chat OOP - GoFood</h2>

<form method="POST">
    {% csrf_token %}
    <label>Sender:</label>
    <select name="sender">
        {% for u in users %}
            <option value="{{ u.name }}">{{ u.name }} ({{ u.role }})</option>
        {% endfor %}
    </select><br><br>

    <label>Receiver:</label>
    <select name="receiver">
        {% for u in users %}
            <option value="{{ u.name }}">{{ u.name }} ({{ u.role }})</option>
        {% endfor %}
    </select><br><br>

    <label>Message:</label><br>
    <textarea name="message" rows="2" cols="40"></textarea><br><br>

    <button type="submit">Kirim</button>
</form>

<hr>

<h3>Inbox:</h3>
{% for u in users %}
    <h4>{{ u.name }} ({{ u.role }})</h4>
    <pre>{{ u.show_inbox }}</pre>
{% endfor %}

</body>
</html>
